/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
body {
  font-family: 'Lobster', cursive;
  background-image: url("../img/Fondo.jpg");
  background-size: cover; }

.jumbotron {
  position: relative;
  z-index: -101; }

#video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%; }

.blanco {
  color: white; }

.header .navbar {
  background-color: transparent !important; }

.centrar {
  display: block;
  margin: 0 auto; }

.videopequeno {
  display: block;
  margin: 0 auto;
  width: 50%; }

.centrartexto {
  text-align: center;
  margin-top: 50px; }

.tamanotarjeta {
  margin-top: 50px;
  height: 300px; }

.letratexto {
  font-family: Arial; }

.margentarjeta {
  margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
